# SVN Reports Dashboard
Reporting import/upload pipelines

### Import Libraries
Libraries necessary to parse through each dashboard

In [1]:
from IPython.display import display, Markdown, Latex
import pandas as pd

### Set up Table Styles
Use `pandas.style` to set up some graphical styles for the main reports table.

In [2]:
table_styles = [{
    'selector': 'td',
    'props': [('background-color', '#808080'), ('color', '#FFFFFF')]
}, 
{
    'selector': 'th',
    'props': [('background-color', '#000000'), ('color', '#FF0000')]
}]

### Define Functions
Define functions to parse through each of the sites and print them to the screen

In [3]:
sites = ["Reports"]
durations = [3, 30, 300]

# In future iterations, display path is:  '../../../../../log/status_reports/'
def load_dataframe_and_display(file_name=None):
    # Header and load in dataframe
    display(Markdown('## SLA ' + file_name + ' Dashboard'))
    df = pd.read_csv('../status_reports/' + file_name.lower() + '.csv')
    
    # Categorize each report by SLA (3, 30, 300 -> Dead)
    for duration in durations:
        duration_df = df.loc[df['sla'] == duration]
        duration_str = str(duration) + '-Day'
        if (duration == 300):
            duration_str = 'Dead'
        display(Markdown(duration_str + ' SLA Laptop Report'))
        display(duration_df.style.set_table_styles(
            table_styles
        ))

def main():
    for site in sites:
        load_dataframe_and_display(site)

### Run all
Run functions and produce dashboards for each site

In [4]:
main()

## SLA Reports Dashboard

3-Day SLA Laptop Report

30-Day SLA Laptop Report

Dead SLA Laptop Report